

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    background: #c7ecee;
    border-radius: 10px;
    padding: 20px;
    display: block;
    margin: 20px auto;
    width: 50%;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #eb4d4b;
}

p {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    color: #ff7979;
}

input, button {
    display: block;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

input {
    width: 80%;
    padding: 1rem 2rem;
}

button {
    border: 0 none;
    border-radius: 2rem;
    color: #dff9fb;
    background-color: #22a6b3;
    width: 10rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
button:hover {
    color: #f6e58d;
    background-color: #686de0;
}

.mensagem, #resultado {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.erro {
    border-color: #eb4d4b;
}
